{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main class="container" role="main">
    <h1>TreasureGram</h1>
        {% for treasure in treasures %}
        <div class="card bg-light text-dark" style="width: 200px">
            <img src="{{treasure.image}}" class="card-img-top" style="height: 100px"/>
            <div class="card-body">
                <h2 class="card-title">{{treasure.name}}</h2>
                
            </div>
            
        </div>
        {% endfor %}
    </main>

    {% endblock %}