{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://kit.fontawesome.com/fa7183b379.js" crossorigin="anonymous"></script>
    <title>TreasureGram</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top text-center">
        <a href="/">
            <i class="fad fa-treasure-chest"></i>
        </a>
    </nav>
    <main class="container" role="main">
    <h1>TreasureGram</h1>
    <div class="panel panel-default">
        {% for treasure in treasures %}
        <div class="panel-heading">
            <h2 class="panel-title">{{treasure.name}}</h2>
        </div>
        <div class="panel-body">
            <p>{{treasure.value}}</p>
            <p>{{treasure.material}}</p>
            <p>{{treasure.location}}</p>
            <img src={{treasure.image}} />
        </div>
        {% endfor %}
    </div>
    </main>
</body>
</html>